{% extends "base.html" %}
{% block title %}找回密码{% endblock %}
{% block header %}
 <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no,maximum-scale=1" />
{% endblock %}
{% block script %}
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>
{% endblock %}
{% block content %}
    <svg style="display:none">
        
        <symbol id="finish" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <path fill="#333333" d="M512 22.26087C241.552696 22.26087 22.26087 241.530435 22.26087 512s219.291826 489.73913 489.73913 489.73913 489.73913-219.269565 489.73913-489.73913S782.447304 22.26087 512 22.26087zM512 934.956522C278.77287 934.956522 89.043478 745.22713 89.043478 512S278.77287 89.043478 512 89.043478s422.956522 189.729391 422.956522 422.956522S745.22713 934.956522 512 934.956522zM792.130783 335.782957c-12.688696-12.710957-33.03513-12.955826-46.146783-0.912696l-0.089043-0.089043L466.543304 614.110609l-161.52487-161.54713-0.089043 0.111304c-13.111652-12.04313-33.458087-11.798261-46.146783 0.890435s-12.911304 33.03513-0.890435 46.124522l-0.089043 0.089043 184.698435 184.742957 0.044522-0.066783c0.044522 0.022261 0.089043 0.044522 0.133565 0.066783 0.111304 0.133565 0.155826 0.311652 0.26713 0.422957 12.866783 12.866783 33.613913 12.978087 46.703304 0.467478l0.044522 0.044522L793.110261 381.996522l-0.089043-0.089043C805.042087 368.795826 804.819478 348.471652 792.130783 335.782957z" />
         </symbol>
        {% include "svg.html" %}
    </svg>
    <div id="newpsd_phone"></div>
{% endblock %}